<div class="flex flex-col space-y-4 rounded-lg p-2 bg-dark-100 w-full">
  <h1 class="text-3xl">Hey There &#128526;,</h1>
  <p class="w-full xl:w-2/4 text-gray-300 text-base">
    I'm Bojan Blazhevski, a Full-Stack Developer with goal of building engaging
    web and mobile applications. My expertise includes automating the deployment
    and publishing process, building user-friendly interfaces, and connection of
    IoT devices within a mobile application.
  </p>
</div>
